<div class="container">

  <div class="row">
    <div class="col-xs-12">
    <h2 class="center">Users</h2>
      <div class="table-responsive">
        <table summary="This table displays conference'ss according topic" class="table table-bordered table-hover">
          <caption class="text-center"></caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
           {{#each model as |user|}}
            <tr>
              <td>{{user.name}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
            </tr>
            {{/each}}

          </tbody>
          <tfoot>
           <p>By Linda and Chris</p>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
      {{outlet}}
</div>
