
<div>Edit!</div>

{{#conference-editor model handleRedirect='displayList'}}
<h3>Edit {{model.title}}</h3>
<h3>Edit {{model.description}}</h3>
<h3>Edit {{model.location}}</h3>
{{/conference-editor}}

{{outlet}}
