<h2 id="title">Tech&uarr;</h2>

<h2>
  {{#link-to 'conferences'}}Conferences{{/link-to}}
</h2>

<h2>
  {{#link-to 'topics'}}Topics{{/link-to}}
</h2>

<h2>
  {{#link-to 'users'}}Users{{/link-to}}
</h2>

{{outlet}}
