<h2 id="title">Tech&uarr;</h2>

<table>

  <td>
  {{#link-to 'conferences'}}Conferences{{/link-to}}
  </td>
  <td>
  {{#link-to 'topics'}}Topics{{/link-to}}
  </td>
    <td>
  {{#link-to 'users'}}Users{{/link-to}}
  </td>
</table>

{{outlet}}
