<h1>Conference Page</h1>
<ul>
  {{#each model as |conference|}}

    <li>
      <strong>Title:</strong> {{conference.title}}
          </li><br>
          <li> <strong>Location:</strong> 
      {{conference.location}}
      </li><br>
  <li><strong>Date:</strong> {{conference.date}}</li><br>

  {{/each}}
</ul>


{{outlet}}
